<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Verify {{name}}</h1>
      <form class="verify-attribute-form" onsubmit={{action "verifyAttribute"}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="code">Verification Code</label>
          {{input
            value=this.code
            class="form-control"
            id="code"
            placeholder="123456"
            required=true
          }}
        </div>
        <button type="submit" class="btn btn-primary">Verify</button>
      </form>
    </div>
  </div>
</div>
