<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Change Password</h1>
      <form class="change-password-form" onsubmit={{action "changePassword"}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="username">Old Password</label>
          <Input
            @value={{this.oldPassword}}
            @type="password"
            class="form-control"
            @id="username"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <label for="code">New Password</label>
          <Input
            @value={{this.newPassword}}
            @type="password"
            class="form-control"
            @id="code"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
  </div>
</div>
