<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Forgot Password</h1>
      <form class="forgot-password-form" onsubmit={{action "forgotPassword"}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="username">Username</label>
          {{input
            value=this.username
            class="form-control"
            id="username"
            placeholder="Username"
            autofocus=true
            required=true
          }}
        </div>
        <button type="submit" class="btn btn-primary">Send code</button>
      </form>
    </div>
  </div>
</div>
