<div class="row index-unauth">
  <div class="col">
    <h2>Usage</h2>
    <ol>
      <li>Add your Cognito Pool ID and Client ID in the header above.</li>
      <li>Click <b>Save</b> to save this to local storage.</li>
      <li>Click <b>Login</b> to login with a user.</li>
    </ol>
  </div>
</div>
