<div class="row index-unauth">
  <div class="col">
    <h2>Usage</h2>
    <ol>
      <li>Add your Cognito Pool ID and Client ID in the header above.</li>
      <li>Click <b>Save</b> to save this to local storage.</li>
      <li>
        Click {{#link-to "login"}}Login{{/link-to}} to login with an existing user or
        {{#link-to "register"}}Register{{/link-to}} to create a new user.
      </li>
    </ol>
  </div>
</div>
