<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Confirm Registration</h1>
      <form class="register-confirm-form" {{on "submit" (fn this.confirm)}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="username">Username</label>
          <Input
            @value={{this.username}}
            class="form-control"
            @id="username"
            placeholder="Username"
            autofocus
            required
          />
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <Input
            @value={{this.code}}
            class="form-control"
            @id="code"
            placeholder="123456"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <LinkTo @route="register.resend" class="btn btn-link">Resend confirmation code</LinkTo>
      </form>
    </div>
  </div>
</div>
