<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Resend registration code</h1>
      <form class="register-resend-form" {{on "submit" this.resend}}>
        {{#if this.errorMessage}}
          <div class="alert alert-danger">{{this.errorMessage}}</div>
        {{/if}}
        <div class="form-group">
          <label for="username">Username</label>
          <Input
            @value={{this.username}}
            class="form-control"
            id="username"
            placeholder="Username"
            autofocus
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Resend</button>
      </form>
    </div>
  </div>
</div>
