<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}ember-cognito{{/link-to}}
    </div>

    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'profile' class='profile-link'}}{{currentUser.username}}{{/link-to}}</li>
        <li><a href="#" onclick={{action 'logout'}}>Logout</a></li>
      {{else}}
        <li>{{#link-to 'login' class='login-link'}}Login{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>
{{outlet}}