<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}ember-cognito{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>{{#link-to 'profile'}}{{currentUser.username}}{{/link-to}}</li>
          <li><a href="#" onclick={{action 'logout'}}>Logout</a></li>
        {{else}}
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{outlet}}